* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

/* header */
header {
    margin-bottom: 6vh;
    background: linear-gradient(#040000, #63f74f);
    height: 18vh;
}


.heading-info h1 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px;
    padding-top: 2vh;
    font-size: 2.5rem;
}

.bungee-tint-regular {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


/* links */
nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 3vh;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 30px;
    font-family: "Bungee Tint";
    margin-right: 10px;
}

nav ul li {
    list-style: none;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
}

nav ul li a {
    text-decoration: none;
    color: #040000;
    border: 2px solid transparent;
    transition: 0.5s;
}

nav ul li a:hover {
    border-bottom: 2px solid #040000;
}

/* Hamburger/cross icon */
div.icon {
    display: flex;
    font-size: 3rem;
    justify-content: flex-end;
    position: relative;
    bottom: 7vh;
    color: white;
    text-shadow: 1px 1px 1px;
    margin-right: 1rem;
    display: none;
}


/* Logo  */
div#logo img {
    width: 100px;
    position: absolute;
    top: 50px;
    left: 5%;
}