/* Header */

@media (max-width: 750px) {
    main {
        margin-top: 25vh;
    }
    header {
        margin-bottom: 10vh;
        background: rgba(0, 0, 0, 0.795);
        height: 22vh;
        border-bottom: 1px solid #fff;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    div.nav-icon {
        display: flex;
        justify-content: flex-end;
        column-gap: 20vw;
        padding-top: 3vh;

    }

    nav {
        display: flex;
        flex-direction: column;
        padding-top: 3vh;
        align-items: center;
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        column-gap: 30px;
        row-gap: 0.5rem;
        font-family: "Bungee Tint";
        color: green;
        align-items: center;
    }
    
    nav ul li {
        font-size: 1.2rem;
    }

    div.icon {
        top: 2vh;  
        display: block;
        display: flex;

        text-align: right;
    }

    /* Animation-message */
    div.animation-message {
        top: 60%;
    }
}

/* Animation-message */
@media (max-width: 970px) {
    div.animation-message {
        top: 75%;
    }
}

@media (max-width: 750px) {
    div.animation-message {
        top: 65%;
    }
}

@media (max-width: 565px) {
    div.animation-message {
        font-size: 3.5vw;
    }
}

@media (max-width: 712px) {
    div.icon {
        bottom: 12.5vh;
    }
    .heading-info h1 {
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px;
        padding-top: 2vh;
        font-size: 2rem;
    }

}

@media (max-width: 400px) {
    .heading-info h1 {
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px;
        padding-top: 2vh;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 8vw;
    }

    div.icon {
        position: relative;
        top: -12px;
    }

    div.nav-icon {
        display: flex;
        column-gap: 15vw;
        padding-top: 3vh;
    }
    nav {
        padding-top: 3vh;
        align-items: flex-start;
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: left;
        column-gap: 30px;
        row-gap: 1.5rem;
        font-family: "Bungee Tint";
        color: green;
        align-items: flex-start;
        padding-left: 10px;
    }

    
}

@media (max-width: 415px) {
    /* Reset filter button */
    form button.reset {
        position: relative;
        left: 130px;
        margin-top: 1rem;
    }
}

@media (max-width: 334px ) {
    nav ul li {
        font-size: 1.1rem;
    }
    
}

/* Logo */
@media (max-width: 1050px) {
    div#logo img {
        display: none;
    }
}


/* Footer */
@media (max-width: 1600px) {
    .footer-fun-note .fun-note {
        font-size: 2.1vw;
    }
}

@media (max-width: 880px) {
    .footer-fun-note .fun-note {
        font-size: 2.8vw;
    }

    /* Table with title */
    .programming-info table td.title {
        min-width: 150px;
    }

}

/* Table responzive */
@media (max-width: 695px) {
    .programming-info table th {
        word-break: break-word;
    }

    .programming-info table th {
        font-size: 3.5vw;
        padding: 5px;
    }

    .programming-info table td.title {
        min-width: 100px;
    }
    
}

@media (max-width: 500px) {
    .programming-info table td {
        font-size: 1rem;
        padding: 5px;
    }


    /* Table in individual-tip.php */
    .specific-tip table th {
        padding: 10px;
        font-size: 1.5rem;
    }

    .specific-tip table td {
        font-size: 1.2rem;
    }

    td textarea {
        font-size: 1.3rem;
    }
}


@media (max-width: 600px) {
    table {
        width: 100%;
    }
}

/* Add new programming tip */
@media (max-width: 720px) {
    [name='title'] {
        width: 350px;
    }

    [name='description'] {
        width: 350px;
    }

    [name='codeExample'] {
        width: 350px;
    }

    div.programming-language-add {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }

    [for='programming-language'] {
        font-size: 2rem;
        position: relative;
        right: 0px;
        margin-bottom: 10px;
    }

    [for='title'] {
        display: none;
        right: 0px;
    }

    [for='description'] {
        right: 0px;
    }

    [for='code-example'] {
        right: 0px;
    }

    h3.error.language {
        position: absolute;
        text-align: center;
        top: 38px;
        /* transform: translate(-50%, -50%); */
    }

    /* Search Input */
    form input {
        max-width: 60vw;
        height: 50px;
        padding-left: 5px;
        /* border-radius: 5px 5px 0 0; */
        border-radius: 5px;
        font-size: 2rem;
    }

    div.keywords select {
        min-width: 60vw;    
    }
    
}

/* Search bar */
@media (max-width: 500px) {
    select#selectKeywords option {
        font-size: 15px;
    }

    div.inputs {
        margin-top: 30px;
    }

    div.inputs input {
        height: 40px;
        font-size: 1.5rem;
    }
}

/* Search bar for pc and notebook above 768px */
@media (min-width: 768px) {
    #selectKeywords {
        display: block;
    }

}

@media (max-width: 768px) {
    div.keywords ul#keywords-mobile {
        min-width: 60vw;    
    }
    main {
        margin-bottom: 10vh;
    }

    ul#keywords-mobile li {
        font-size: 15px;
    }

}